{% extends 'main.html' %}
{% load static %}
{% block content %}
<style>
    body {
        background-color: rgb(231, 231, 231);
    }
</style>
<!-- <div class="container">
    <div class="col-auto">
        <div class="col-md-6 offset-md-3"> -->
            <form method="POST" action="">
                {% csrf_token %}
                <div class="col">
                    <h1 style="text-align: center;">Bạn muốn xóa sản phẩm này của đơn hàng: {{ order.code }}?</h1>
                    <hr>
                    <div class="row">
                        <button type="submit" class="btn btn-danger btn-block btn-lg">Xóa</button>
                    </div>
                    <br>
                    <div class="row">
                        <a href="{% url 'order_detail' orderitem.order.pk %}" class="btn btn-secondary btn-block btn-lg">Hủy</a>
                    </div>
                </div>
            </form>
        <!-- </div>
    </div>
</div> -->

{% endblock content%}